/* ==========================
        Task List
========================== */

.task-list{
    width:80%;
    margin:50px auto;
}

/* Heading */

.task-list h2{
    text-align:center;
    color:white;
    font-size:42px;
    margin:35px 0;
}

/* Top Controls */

.task-list-controls{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:35px;
}

/* Search */

.search-box{
    width:280px;
    padding:15px 18px;

    background:#18181B;
    color:white;

    border:1px solid #333;
    border-radius:15px;

    font-size:16px;

    transition:.3s;
}

.search-box:focus{

    outline:none;

    border-color:var(--glow);

    box-shadow:0 0 15px var(--glow);

}

/* Filters */

.filter-box{

    width:170px;

    padding:15px;

    background:#18181B;

    color:white;

    border:1px solid #333;

    border-radius:15px;

    font-size:16px;

    cursor:pointer;

}

.filter-box:focus{

    outline:none;

    border-color:var(--glow);

    box-shadow:0 0 15px var(--glow);

}
/* ==========================
        Empty State
========================== */

.empty-state{

    margin:80px auto;

    text-align:center;

    animation:fadeUp .5s ease;

}

.empty-icon{

    font-size:80px;

    margin-bottom:20px;

}

.empty-state h2{

    color:white;

    font-size:34px;

    margin-bottom:10px;

}

.empty-state p{

    color:#9CA3AF;

    font-size:18px;

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}